* {
    margin: 0;
    padding: 0;
    color: #333745;
    user-select: none;
    transition: 0.25s;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input {
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

input, textarea {
    border: 1px solid #3337455e;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    resize: none;
}

input:focus, textarea:focus {
    border: 1px solid #C8F6EA;
    outline: 0;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
}

a:hover, .save:hover {
    font-size: 2rem;
}

p {
    display: none;
}

button {
    border: 0;
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
}

small {
    width: fit-content;
}

textarea, #title {
    width: 98%;
}

#noteTitle {
    border: 0;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    display: block;
}

#noteContent {
    border-color: #3337452f;
}

.dates {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.new, .notes {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2rem auto 0 auto;
}


.addNote {
    border: 0;
    border-radius: 0.5rem;
    background-color: #C8F6EA;
    cursor: pointer;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    font-size: 1.35rem;
    margin: 0 auto;
}

.addNote:hover {
    background-color: #B9F3E4;
}

@media screen and (max-width: 900px) {
    .new, .notes {
        width: 95%;
    }
}